<p id="notice"><%= notice %></p>

<p>
  <strong>Posted at:</strong>
  <%= @announcement.posted_at %>
</p>

<p>
  <strong>Message:</strong>
  <%= @announcement.message %>
</p>

<p>
  <strong>Send to:</strong>
  <%= @announcement.send_to %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
